#
#Fri Feb 19 22:35:42 CET 2021
cross.icon=resources/images/cross.png
viz.intermediate.cii.xsl.codelistresolve=resources/viewer/codelistresolve/cii-xr.xsl
validator.ubl.xsd.1.2.2=resources/validatorxrechnung/1.2.2/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
background.image=resources/images/backgroundX.png
validator.ubl.xsd.1.2.1=resources/validatorxrechnung/1.2.1/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
save.icon=resources/images/disk.png
validator.ubl.xsd.1.2.0=resources/validatorxrechnung/1.2.0/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
language=de
available_languages=de,en
validator.scenario.1.1=resources/validatorxrechnung/1.1/scenarios.xml
validator.cii.xsd.1.1=resources/validatorxrechnung/1.1/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.ubl.xsd.2.0.1=resources/validatorxrechnung/2.0.1/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.2.0.0=resources/validatorxrechnung/2.0.0/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
help.icon=resources/images/help.png
tick.icon=resources/images/tick.png
viz.intermediate.ubl.xsl=resources/viewer/ubl-invoice-xr.xsl
viz.pdf.xsl=resources/viewer/xr-pdf.xsl
settings.icon=resources/images/cog.png
viz.codelistresolve=true
base.dir=user.home
viz.html.xsl=resources/viewer/xrechnung-html.xsl
viz.intermediate.ublcn.xsl.codelistresolve=resources/viewer/codelistresolve/ubl-creditnote-xr.xsl
available_valiVersions=1.1,1.2.0,1.2.1,1.2.2,2.0.0,2.0.1,en16931_1.3.3,peppol3.0.9
viz.intermediate.ubl.xsl.codelistresolve=resources/viewer/codelistresolve/ubl-invoice-xr.xsl
about.icon=resources/images/information.png
validator.ubl.xsd.1.1=resources/validatorxrechnung/1.1/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
saveas.icon=resources/images/disk.png
viz.icon=resources/images/html.png
app.icon=resources/images/oxt.png
validator.cii.xsd.1.2.1=resources/validatorxrechnung/1.2.1/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.ubl.xsd.en16931_1.3.3=resources/validatorxrechnung/en16931_1.3.3/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.cii.xsd.1.2.2=resources/validatorxrechnung/1.2.2/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.1.2.0=resources/validatorxrechnung/1.2.0/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.icon=resources/images/spellcheck.png
validator.ublcn.xsd.2.0.1=resources/validatorxrechnung/2.0.1/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.scenario.en16931_1.3.3=resources/validatorxrechnung/en16931_1.3.3/scenarios.xml
validator.ublcn.xsd.2.0.0=resources/validatorxrechnung/2.0.0/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.cii.xsd.en16931_1.3.3=resources/validatorxrechnung/en16931_1.3.3/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
saveaspdf.icon=resources/images/disk.png
lwid.icon=resources/images/calculator.png
validator.ubl.xsd.peppol3.0.9=resources/validatorxrechnung/peppol3.0.9/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
lwid.image=resources/images/leitwegidButton.png
empty.icon=resources/images/empty.png
validator.cii.xsd.2.0.0=resources/validatorxrechnung/2.0.0/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.ublcn.xsd.en16931_1.3.3=resources/validatorxrechnung/en16931_1.3.3/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.cii.xsd.2.0.1=resources/validatorxrechnung/2.0.1/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.ublcn.xsd.1.1=resources/validatorxrechnung/1.1/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.scenario.peppol3.0.9=resources/validatorxrechnung/peppol3.0.9/scenarios.xml
validator.ublcn.xsd.1.2.2=resources/validatorxrechnung/1.2.2/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
converter.icon=resources/images/converter.png
validator.ublcn.xsd.peppol3.0.9=resources/validatorxrechnung/peppol3.0.9/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.1.2.0=resources/validatorxrechnung/1.2.0/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.1.2.1=resources/validatorxrechnung/1.2.1/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
languages.path=./resources/languages
exit.icon=resources/images/cross.png
validator.scenario.1.2.0=resources/validatorxrechnung/1.2.0/scenarios.xml
validator.scenario.1.2.1=resources/validatorxrechnung/1.2.1/scenarios.xml
valiVersion=2.0.0
viz.intermediate.ublcn.xsl=resources/viewer/ubl-creditnote-xr.xsl
validator.scenario.1.2.2=resources/validatorxrechnung/1.2.2/scenarios.xml
validator.scenario.2.0.0=resources/validatorxrechnung/2.0.0/scenarios.xml
viz.intermediate.cii.xsl=resources/viewer/cii-xr.xsl
validator.scenario.2.0.1=resources/validatorxrechnung/2.0.1/scenarios.xml
