#
#Thu Oct 03 23:53:34 CEST 2024
about.icon=resources/images/information.png
app.icon=resources/images/oxt.png
available_languages=de,en
available_valiVersions=1.1,1.2.0,1.2.1,1.2.2,2.0.0,2.0.1,2.1.1,2.2.0,2.3.1,3.0.0,3.0.1,3.0.2,en16931_1.3.3,en16931_1.3.4,en16931_1.3.5,en16931_1.3.6,en16931_1.3.7,en16931_1.3.9,en16931_1.3.10,en16931_1.3.11,en16931_1.3.12,peppol3.0.9,peppol3.0.10,peppol3.0.12,peppol3.0.13,peppol3.0.14,peppol3.0.15,peppol3.0.16,peppol3.0.17
available_vizLanguages=de,en,de-bt
background.image=resources/images/backgroundX.png
base.dir=user.home
converter.icon=resources/images/converter.png
cross.icon=resources/images/cross.png
empty.icon=resources/images/empty.png
exit.icon=resources/images/cross.png
help.icon=resources/images/help.png
language=de
languages.path=./resources/languages
lwid.icon=resources/images/calculator.png
lwid.image=resources/images/leitwegidButton.png
save.icon=resources/images/disk.png
saveas.icon=resources/images/disk.png
saveaspdf.icon=resources/images/disk.png
settings.icon=resources/images/cog.png
tick.icon=resources/images/tick.png
valiVersion=3.0.2
validator.cii.xsd.1.1=resources/validatorxrechnung/1.1/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.1.2.0=resources/validatorxrechnung/1.2.0/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.1.2.1=resources/validatorxrechnung/1.2.1/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.1.2.2=resources/validatorxrechnung/1.2.2/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.2.0.0=resources/validatorxrechnung/2.0.0/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.2.0.1=resources/validatorxrechnung/2.0.1/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.2.1.1=resources/validatorxrechnung/2.1.1/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.2.2.0=resources/validatorxrechnung/2.2.0/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.2.3.1=resources/validatorxrechnung/2.3.1/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.3.0.0=resources/validatorxrechnung/3.0.0/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.3.0.1=resources/validatorxrechnung/3.0.1/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.3.0.2=resources/validatorxrechnung/3.0.2/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.en16931_1.3.10=resources/validatorxrechnung/en16931_1.3.10/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.en16931_1.3.11=resources/validatorxrechnung/en16931_1.3.11/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.en16931_1.3.12=resources/validatorxrechnung/en16931_1.3.12/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.en16931_1.3.3=resources/validatorxrechnung/en16931_1.3.3/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.en16931_1.3.4=resources/validatorxrechnung/en16931_1.3.4/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.en16931_1.3.5=resources/validatorxrechnung/en16931_1.3.5/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.en16931_1.3.6=resources/validatorxrechnung/en16931_1.3.6/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.en16931_1.3.7=resources/validatorxrechnung/en16931_1.3.7/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.cii.xsd.en16931_1.3.9=resources/validatorxrechnung/en16931_1.3.9/resources/cii/16b/xsd/CrossIndustryInvoice_100pD16B.xsd
validator.icon=resources/images/spellcheck.png
validator.scenario.1.1=resources/validatorxrechnung/1.1/scenarios.xml
validator.scenario.1.2.0=resources/validatorxrechnung/1.2.0/scenarios.xml
validator.scenario.1.2.1=resources/validatorxrechnung/1.2.1/scenarios.xml
validator.scenario.1.2.2=resources/validatorxrechnung/1.2.2/scenarios.xml
validator.scenario.2.0.0=resources/validatorxrechnung/2.0.0/scenarios.xml
validator.scenario.2.0.1=resources/validatorxrechnung/2.0.1/scenarios.xml
validator.scenario.2.1.1=resources/validatorxrechnung/2.1.1/scenarios.xml
validator.scenario.2.2.0=resources/validatorxrechnung/2.2.0/scenarios.xml
validator.scenario.2.3.1=resources/validatorxrechnung/2.3.1/scenarios.xml
validator.scenario.3.0.0=resources/validatorxrechnung/3.0.0/scenarios.xml
validator.scenario.3.0.1=resources/validatorxrechnung/3.0.1/scenarios.xml
validator.scenario.3.0.2=resources/validatorxrechnung/3.0.2/scenarios.xml
validator.scenario.en16931_1.3.10=resources/validatorxrechnung/en16931_1.3.10/scenarios.xml
validator.scenario.en16931_1.3.11=resources/validatorxrechnung/en16931_1.3.11/scenarios.xml
validator.scenario.en16931_1.3.12=resources/validatorxrechnung/en16931_1.3.12/scenarios.xml
validator.scenario.en16931_1.3.13=resources/validatorxrechnung/en16931_1.3.13/scenarios.xml
validator.scenario.en16931_1.3.14=resources/validatorxrechnung/en16931_1.3.14/scenarios.xml
validator.scenario.en16931_1.3.15=resources/validatorxrechnung/en16931_1.3.15/scenarios.xml
validator.scenario.en16931_1.3.16=resources/validatorxrechnung/en16931_1.3.16/scenarios.xml
validator.scenario.en16931_1.3.17=resources/validatorxrechnung/en16931_1.3.17/scenarios.xml
validator.scenario.en16931_1.3.3=resources/validatorxrechnung/en16931_1.3.3/scenarios.xml
validator.scenario.en16931_1.3.4=resources/validatorxrechnung/en16931_1.3.4/scenarios.xml
validator.scenario.en16931_1.3.5=resources/validatorxrechnung/en16931_1.3.5/scenarios.xml
validator.scenario.en16931_1.3.6=resources/validatorxrechnung/en16931_1.3.6/scenarios.xml
validator.scenario.en16931_1.3.7=resources/validatorxrechnung/en16931_1.3.7/scenarios.xml
validator.scenario.en16931_1.3.9=resources/validatorxrechnung/en16931_1.3.9/scenarios.xml
validator.scenario.peppol3.0.10=resources/validatorxrechnung/peppol3.0.10/scenarios.xml
validator.scenario.peppol3.0.12=resources/validatorxrechnung/peppol3.0.12/scenarios.xml
validator.scenario.peppol3.0.13=resources/validatorxrechnung/peppol3.0.13/scenarios.xml
validator.scenario.peppol3.0.14=resources/validatorxrechnung/peppol3.0.14/scenarios.xml
validator.scenario.peppol3.0.15=resources/validatorxrechnung/peppol3.0.15/scenarios.xml
validator.scenario.peppol3.0.16=resources/validatorxrechnung/peppol3.0.16/scenarios.xml
validator.scenario.peppol3.0.17=resources/validatorxrechnung/peppol3.0.17/scenarios.xml
validator.scenario.peppol3.0.9=resources/validatorxrechnung/peppol3.0.9/scenarios.xml
validator.ubl.xsd.1.1=resources/validatorxrechnung/1.1/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.1.2.0=resources/validatorxrechnung/1.2.0/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.1.2.1=resources/validatorxrechnung/1.2.1/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.1.2.2=resources/validatorxrechnung/1.2.2/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.2.0.0=resources/validatorxrechnung/2.0.0/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.2.0.1=resources/validatorxrechnung/2.0.1/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.2.1.1=resources/validatorxrechnung/2.1.1/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.2.2.0=resources/validatorxrechnung/2.2.0/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.2.3.1=resources/validatorxrechnung/2.3.1/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.3.0.0=resources/validatorxrechnung/3.0.0/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.3.0.1=resources/validatorxrechnung/3.0.1/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.3.0.2=resources/validatorxrechnung/3.0.2/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.en16931_1.3.10=resources/validatorxrechnung/en16931_1.3.10/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.en16931_1.3.11=resources/validatorxrechnung/en16931_1.3.11/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.en16931_1.3.12=resources/validatorxrechnung/en16931_1.3.12/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.en16931_1.3.3=resources/validatorxrechnung/en16931_1.3.3/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.en16931_1.3.4=resources/validatorxrechnung/en16931_1.3.4/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.en16931_1.3.5=resources/validatorxrechnung/en16931_1.3.5/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.en16931_1.3.6=resources/validatorxrechnung/en16931_1.3.6/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.en16931_1.3.7=resources/validatorxrechnung/en16931_1.3.7/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.en16931_1.3.9=resources/validatorxrechnung/en16931_1.3.9/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.peppol3.0.10=resources/validatorxrechnung/peppol3.0.10/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.peppol3.0.12=resources/validatorxrechnung/peppol3.0.12/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.peppol3.0.13=resources/validatorxrechnung/peppol3.0.13/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.peppol3.0.14=resources/validatorxrechnung/peppol3.0.14/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.peppol3.0.15=resources/validatorxrechnung/peppol3.0.15/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.peppol3.0.16=resources/validatorxrechnung/peppol3.0.16/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.peppol3.0.17=resources/validatorxrechnung/peppol3.0.17/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ubl.xsd.peppol3.0.9=resources/validatorxrechnung/peppol3.0.9/resources/ubl/2.1/xsd/maindoc/UBL-Invoice-2.1.xsd
validator.ublcn.xsd.1.1=resources/validatorxrechnung/1.1/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.1.2.0=resources/validatorxrechnung/1.2.0/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.1.2.1=resources/validatorxrechnung/1.2.1/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.1.2.2=resources/validatorxrechnung/1.2.2/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.2.0.0=resources/validatorxrechnung/2.0.0/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.2.0.1=resources/validatorxrechnung/2.0.1/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.2.1.1=resources/validatorxrechnung/2.1.1/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.2.2.0=resources/validatorxrechnung/2.2.0/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.2.3.1=resources/validatorxrechnung/2.3.1/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.3.0.0=resources/validatorxrechnung/3.0.0/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.3.0.1=resources/validatorxrechnung/3.0.1/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.3.0.2=resources/validatorxrechnung/3.0.2/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.en16931_1.3.10=resources/validatorxrechnung/en16931_1.3.10/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.en16931_1.3.11=resources/validatorxrechnung/en16931_1.3.11/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.en16931_1.3.12=resources/validatorxrechnung/en16931_1.3.12/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.en16931_1.3.3=resources/validatorxrechnung/en16931_1.3.3/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.en16931_1.3.4=resources/validatorxrechnung/en16931_1.3.4/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.en16931_1.3.5=resources/validatorxrechnung/en16931_1.3.5/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.en16931_1.3.6=resources/validatorxrechnung/en16931_1.3.6/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.en16931_1.3.7=resources/validatorxrechnung/en16931_1.3.7/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.en16931_1.3.9=resources/validatorxrechnung/en16931_1.3.9/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.peppol3.0.10=resources/validatorxrechnung/peppol3.0.10/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.peppol3.0.12=resources/validatorxrechnung/peppol3.0.12/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.peppol3.0.13=resources/validatorxrechnung/peppol3.0.13/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.peppol3.0.14=resources/validatorxrechnung/peppol3.0.14/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.peppol3.0.15=resources/validatorxrechnung/peppol3.0.15/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.peppol3.0.16=resources/validatorxrechnung/peppol3.0.16/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.peppol3.0.17=resources/validatorxrechnung/peppol3.0.17/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
validator.ublcn.xsd.peppol3.0.9=resources/validatorxrechnung/peppol3.0.9/resources/ubl/2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd
viz.codelistresolve=true
viz.html.xsl=resources/viewer/xrechnung-html.xsl
viz.icon=resources/images/html.png
viz.intermediate.cii.xsl=resources/viewer/cii-xr.xsl
viz.intermediate.cii.xsl.codelistresolve=resources/viewer/codelistresolve/cii-xr.xsl
viz.intermediate.ubl.xsl=resources/viewer/ubl-invoice-xr.xsl
viz.intermediate.ubl.xsl.codelistresolve=resources/viewer/codelistresolve/ubl-invoice-xr.xsl
viz.intermediate.ublcn.xsl=resources/viewer/ubl-creditnote-xr.xsl
viz.intermediate.ublcn.xsl.codelistresolve=resources/viewer/codelistresolve/ubl-creditnote-xr.xsl
viz.language=de
viz.pdf.xsl=resources/viewer/xr-pdf.xsl
vizLanguage=en
